.body {
    background-color : #C8E3E9;
    padding-bottom : 20px; /* Чтобы адресс сылки не загораживал нужную информацию */
}

body {
    margin: 0;
    padding: 0;
}

.layout {
    width : 1050px;
    margin : auto;
}
